@media screen and (max-width: 576px){
    .nav-container, .nav-menu{
     
        flex-direction: column;
        margin-left: 30px;
    }
    ul{
        flex-direction: column;
        gap: 20px;
        align-items: center;
 }
    .banner-container{
        flex-direction: column-reverse;
    }
    .online-games-container {
        margin-left: 105px;
    }
    .banner-img{
        width: 80%;
        margin-left: 100px;
    }
    .banner-content{
       padding: 30px;
       width: 80%;
       text-align: flex-start;
       margin-left: 165px;   
       
    }
   .banner-title{
        font-size: 50px;
    }
    .banner-heading{
        font-size: 20px;
        text-align: left;
    }
    .sign-in-button, .go-rogue-button{
        padding: 15px 35px;
        font-size: 14px;
    }
    .banner-description{
        color: #534C64;
    }
    .card-container{
        grid-template-columns: repeat(1,1fr);
        margin-left: 110px;
        margin-top: 50px;
    }
    .content-title{
        width: 100%;
        margin-left: 20px;

    }
    .games-img1 {
        width: 300px;
        margin-left: 110px;
        
    }
    .games-img2 {
        width: 149px;
        position: relative;
        top: -95px;
        left: 315px;
    }
    .play-games-container {
        flex-direction: column-reverse;
     }
     .games-content{
        width: 100%;
     }
     .games-container{
       
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:10px;
        padding: 0;
        background-image: none;
        padding: 0px 0px 100px 0px;
     }
     .games-card{
        padding: 2px 5px;
     }
/* footer */
   .list-item1, .icon-items,.terms-item{
    margin: 0 auto;
    gap:50px;
    margin-right: 10px;
   }
   .footer-container{
    width: 132%;
   }
   .list-item1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-left: -140px;
    margin-top: 50px;
    
   }
   .icon-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 50px 0px;
    margin-left: -100px;
    grid-column-gap: 0px;
   
   }
   .terms-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: -100px;
    padding: 20px 0px;
   }
   

}